
.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  &&--info {
    display: block;
  }

  @media @tablet-width {
    padding-left:  16px;
    &--info {
      padding-left: 0;
    }
  }

}

.form-input__label {
  text-transform: uppercase;
  .text-size(14px, 26px);
  color: #333333;
  margin-right: 20px;
  &&--info {
    display: block;
    margin-left: 20px;
    margin-bottom: 7px;

    @media @tablet-width {
      margin-bottom: 7px;
    }

  }
}

.form-input__text {
  background-color: #f2f2f2;
  border: none;
  width: 100%;
  padding: 16px 20px;
  .text-size(18px, 26px);
  outline: none;
  &&--tel,&&--email {
    padding-right: 22%;

    @media @tablet-width {
      padding-right:  11%;
    }

  }
  &&--tel {
    margin-bottom: 23px;
    background: url("../img/icon-phone.svg") top 50% right 20px no-repeat, linear-gradient(to right, #f2f2f2 79%,  #e6e6e6 79%);

    @media @tablet-width {
      background: url("../img/icon-phone.svg") top 50% right 20px no-repeat, linear-gradient(to right, #f2f2f2 91%,  #e6e6e6 91%);
    }

  }
  &&--email {
    background: url("../img/icon-mail.svg") top 50% right 20px no-repeat, linear-gradient(to right, #f2f2f2 79%,  #e6e6e6 79%);

  @media @tablet-width {
    background: url("../img/icon-mail.svg") top 50% right 20px no-repeat, linear-gradient(to right, #f2f2f2 91%,  #e6e6e6 91%);
  }

  }
}


.form-input__hidden {
  @media @tablet-width {
    display: none;
  }
}